@use "sass:math";
@import "index";
html {
    font: #{$baseFontSize + 'px'} / math.div($lineHeight, $baseFontSize) $f;
    -webkit-text-size-adjust: 100%;
    background: c(base);
    color: sc(base);
    user-select: none;
    height: 100%;
}
body {
    font-size: rem($fontSize);
}
html, body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
:root {
    @each $name, $color in $c {
        --#{$name}: #{$color};
    }
}
* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    border-radius: 0;
    background: none;
    vertical-align: top;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
    &, &:before, &:after {
        box-sizing: border-box;
    }
}
a {
    text-decoration: none;
    transition: 400ms color, 400ms background, 400ms border-color, 400ms box-shadow;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    display: block;
    max-width: 100%;
    pointer-events: none;
}
button, input, optgroup, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    font: inherit;
    appearance: none;
    display: block;
    @include placeholder {
        opacity: 1;
        font-family: inherit;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
    &::-ms-clear {
        display: none;
    }
    &[type='file'] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
    }
}
li {
    display: block;
}
canvas {
    display: block;
    pointer-events: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    line-height: normal;
}
.fixed-splash, .absolute-splash {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fixed-splash {
    position: fixed;
}
.absolute-splash {
    position: absolute;
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.pointer-events-none {
    pointer-events: none;
}
.cursor-pointer {
    cursor: pointer;
}
.overflow-hidden {
    overflow: hidden;
}
.position-relative {
    position: relative;
}
.user-select {
    user-select: text;
    > * {
        user-select: text;
    }
}
